html,
body,
#__nuxt {
    height: 100%;
    overflow-y: auto;
    font-family: 'Noto Sans Thai', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
}
h1 {
    font-weight: normal;
}
